<div>
  <h2>New Student Profile:</h2>
  <h4>Full Name</h4>
  <h3>
    <%= @full_name %>
  </h3>
  <h4>Favorite Course</h4>
  <h3>
    <%= @course %>
  </h3>
  <h4>Current Grade level</h4>
  <h3>
    <%= @grade_level %>
  </h3>
</div>
